
<div class="box-container">
  <%= cl_image_tag dragon.photo_first_url, class: "avatar-mid" %>
  <h5><%= dragon.name %><h5>

  <%= link_to "See dragon's profile", dragon_path(dragon), class: "btn btn-primary map-box-btn" %>
</div>
