<div class="container">
  <h2>Update your dragon</h2>

  <%= render 'form-dragon', dragon: @dragon %>

<%= simple_form_for @dragon do |f| %>
  <div class="form-actions">
    <%= f.button :submit, "Update dragon" %>
  </div>
  <% end %>

</div>


