.show-booking-details{
  border: 1px solid #e4e4e4;
  border-radius: 1px;
  background-color: #F1F1F1;
  height: 300px;
  width: 120%;
  color: #484848;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
}

.home-banner-bookings {
  height: 100vh;
  background-size: cover !important;
}

.card-dragon-whole-booking {
  width: 68%;
  position: relative;
  margin-top: 15px;
  left: 80px;
  z-index: 3;
  transform: translate(30px, 10px);
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
}

.show-booking-icon{
  font-size: 52px;
  color: lightgreen;
  margin: 10px;
}
.show-booking-heading-info{
  text-align: center;
  margin-top: 115px;

  h2 {
    color: white;
  }
}
.show-booking-bottom{
  text-align: center;
  margin-top: 20px;
}
.booking-return-button {
  position: absolute;
  bottom: -80px;
  right: -10px;
}

.booking-manage-button {
  position: absolute;
  bottom: -80px;
  right: 290px;
}

.edit-button-booking {
text-decoration: none;
color: white;
}

.edit-button-booking:hover {
text-decoration: none;
color: #333333;
}

.show-booking-group {

  float: left;
  width: 400px;
}

.booking-box-container {
  width: 100%;
  z-index: 2;
  transform: translate(-285px, 10px);
}

.booking-container {
  display: flex;
  width: 100%;
  margin-top: -25px;
}

// .show-booking-details {
//   background-color: #F1F1F1;
//
// }

.show-booking-heading {
    margin-top: -80px;

  h2 {
    font-size: 40px;
    color: white;
  }
}

.card-dragon-booking {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1200px) {
  .card-dragon-booking {
    opacity: 0;
  }
  .card-dragon-whole-booking {
    box-shadow: none;
  }
  .booking-manage-button {
    right: 200px;
  }
  .booking-return-button {
    right: -80px;
  }
}



// .fade {
//      opacity: 0;
//      transition: opacity 0.15s linear;
//      -o-transition: opacity 0.15s linear;
//      -webkit-transition: opacity 0.15s linear;
// }

// .fade:hover {
//     opacity: 1
// }
