.dragon-show-wrapper {
  background-color: #FFFFFF;
}

.dragon-show-info-card {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}


.dragon-show-description {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 15px;
}

.dragon-attributes {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    display: block;
    padding: 5px 16px;
  }

  li:first-child {
    padding-left: 0;
  }
}

.booking-box {
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  padding: 16px 24px;
  position: sticky;
  top: 75px;

  label {
    font-weight: light;
    word-wrap: break-word;
    font-size: 12px;
  }
}

.dragon-name-user-profile {
  position: relative;

  .avatar {
    margin-bottom: 20px;
    margin-top: 10px;
    position: absolute;
    right: 123px;
    top: 0;
  }
}

.dragon-show-description-field {
  width: 90%;
  margin-left: 0;
  margin-top: 15px;
  font-weight: lighter;
}

.booking-price {
  font-weight: bolder;
  font-size: 40px;
}

.booking-per-night {
  font-weight: normal;
  font-size: 16px;
  color: #00888C;
}

.booking-start-date {
  font-weight: lighter;
}

.dragon-show-confirmation {
  font-size: 40px;
  text-align: center;
  color: lightgreen;
}

.map-dragon-show {
  width: 45% !important;
  height: 40vh;
  margin-bottom: 50px;
}

.dragon-show-address {
  margin-top: 15px;
}

.owner-name-dragon {
  color: #B50200;
}

.search-field-profile {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.wrapper-grey {
  background-color: #eceff1;
}
