.dragon-show-wrapper {
  background-color: #FFFFFF;
}

.dragon-show-info-card {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.dragon-show-description {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 15px;
}

.dragon-attributes {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    display: block;
    padding: 16px;
  }

  li:first-child {
    padding-left: 0;
  }
}

.booking-box {
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  padding: 16px 24px;

  label {
    font-weight: light;
    word-wrap: break-word;
    font-size: 12px;
  }
}

.booking-price {
  font-weight: bolder;
  font-size: 40px;
}

.booking-per-night {
  font-weight: lighter;
  font-size: 16px;
}

.booking-start-date {
  font-weight: lighter;
}
