.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 400px 400px;
}

.user-info {
  background-color: red;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  margin: 5px;
  padding: 10px;
}

.user-message {
  background-color: green;
  grid-row: 1 / span 1;
  grid-column: 3 / span 3;
  margin: 5px;
  padding: 10px;
}

.user-owned-dragons {
  background-color: yellow;
  grid-row: 2 / span 1;
  grid-column: 1 / span 5;
  margin: 5px;
  padding: 10px;
}

.user-bookings {
  background-color: blue;
  grid-row: 3 / span 1;
  grid-column: 1 / span 5;
  margin: 5px;
  padding: 10px;
}


// Grid display for mobile devices and smaller screen

@media(max-width: 720px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px 400px;
  }

  .user-info {
    background-color: red;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 10px;
    padding: 10px;
  }

  .user-message {
    background-color: green;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 10px;
    padding: 10px;
  }

  .user-owned-dragons {
    background-color: yellow;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 10px;
    padding: 10px;
  }

  .user-bookings {
    background-color: blue;
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 10px;
    padding: 10px;
  }
}
