<video autoplay muted loop id="myVideo">
  <source src="http://res.cloudinary.com/dfn1yucto/video/upload/v1534426238/untitled.mp4" type="video/mp4">
</video>



  <div class="home-banner-content">
    <h1>Risk your life!</h1>
    <p>Kill time and potentially yourself by playing with fire</p>
    <div class="home-search-form">
      <%= form_tag dragons_path, method: :get do %>
      <%= text_field_tag :address,
      params[:address],
      class: "input-search",
      placeholder: "Type a location.."%>
      <button name="button" type="submit" class="button-white">Search
      </button>
      <% end %>
    </div>
  </div>
</div>

