<video autoplay muted loop id="myVideo">
  <source src="http://res.cloudinary.com/dfn1yucto/video/upload/v1534435455/untitledv5.mp4">
  </video>



  <div class="home-banner-content">
    <h1 class="home-title"><strong>Dragonsitter</strong></h1>
    <p class="home-description">
      <span id="banner-typed-text"></span>
    </p>
    <div class="input-group home-search-form">
      <%= form_tag dragons_path, method: :get, class: "form-control input-search-group" do %>
      <%= text_field_tag :address, params[:address], class: "input-search form-control home-input-search", placeholder: "Type a location.."%>
      <span class="input-group-btn">
        <%= submit_tag "Search" , class: "btn button-red" %>
      </span>
      <% end %>
    </div>
  </div>
</div>





