<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(135,48,0,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'dragons.jpg' %>');">

  <div class="home-banner-content">
    <h1>Risk your life!</h1>
    <p>Kill time and potentially yourself by playing with fire</p>
    <div class="home-search-form">
      <%= form_tag dragons_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "input-search",
      placeholder: "Type a location.."%>
      <button name="button" type="submit" class="button-white">Search
      </button>
      <% end %>
    </div>
  </div>
</div>

