.home-banner-content {
  position: fixed;
  top: 17%;
  left:33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index:99;
  text-align: center;
}

.input-search {
  width: 75%;
  padding: 10px;
  border-radius: 3px;
  align-text: center;
  color: #333333;
}

.home-banner-content .button-white {
  text-decoration: none;
  justify-content: center;
  background-color: #B60705;
  border: 1px solid #B60705;
  text-align: center;
  width: 250px;
  margin: 20px 12px 0 12px;
  transition: all .5s;
  cursor: pointer;
  border-radius: 3px;
  font-weight: lighter;
  padding: 8px;
  color: white;
}

.button-white {
  text-decoration: none;
  justify-content: center;
  background-color: transparent;
  border: 1px solid white;
  text-align: center;
  width: 250px;
  margin: 20px 12px 0 12px;
  transition: all .5s;
  cursor: pointer;
  border-radius: 3px;
  font-weight: lighter;
  padding: 8px;
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
}

.button-white:hover {
  background-color: white;
  color: #333333;
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
}


// OLD SET UP DISPLAY VIDEO
// #myVideo {
//   left: -10%;
//   min-width: 100%;
//   min-height: 100%;
//   position: fixed;
//   color: white;
//   text-align: center;
//   display: flex;
//   align-content: center;
//   justify-content: center;
//   z-index:0;
// }

#myVideo {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   transform: translateX(-50%) translateY(-50%);
   z-index: 0;
   text-align: center;
   display: flex;
   align-content: center;
   justify-content: center;
}

.home-title {
  font-size: 60px !important;
  // font-weight: bolder;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #484848;
}
.home-description {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  opacity: 0.6;
  margin-bottom: 200px;
}

.home-input-search {
  height: 50px;
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
}




