<h1>Profile#show</h1>

 <!-- FIXED AVATAR PICTURE -->
<img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>

<!-- USER AVATAR REQUESR AND DISPLAY -->

<!-- USER INFO -->
<p>user name: <%= @user.name %></p>
<p>user email: <%= @user.email %></p>

